@model TreatmentPlanModel

@{
    ViewData["Title"] = "Edit";
}

<h4>Bewerk behandelplan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="AmountOfTreaments">Hoe vaak mag de patient een afspraak maken?</label>
                    <input class="form-control" asp-for="AmountOfTreaments" />
                </div>
                <div class="form-group">
                    <label asp-for="TimeOfTreatment">Hoe lang mogen de behandelingen duren?</label>
                    <input class="form-control" asp-for="TimeOfTreatment" />
                </div>
                <button class="btn btn-primary" type="submit">Bewerken</button>
            </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
