@{
    ViewData["Title"] = "Home Page";
}
@model PersonViewModelLists
<div class="text-center">
    @if(!User.Identity.IsAuthenticated)
    {
            <h1>Welcome, log in to see more detailed information!</h1>
    }
    else
    {
        <h1>Welcome, @User.Identity.Name!</h1>
    }


    <a asp-controller="PatientModels" asp-action="Create">Add a patient</a>

    <h1>Home overzicht</h1>

</div>
